
<!-- footer -->
<div id="footer">
 
  <div class="foot-info">
    
    <p align="center">版权所有 &copy 2017 思创智汇（广州）科技有限公司 公司地址:广州市越秀区寺右新马路21号泰恒大厦2108B房 粤ICP备12072681号-1</p>
	<p align="center"> 电话:020-34394850  邮箱:hr@gzsczx.com.cn</p>
	
	<p align="center"> 主营业务:<strong>项目管理,电能质量,客服中心,信息化系统</strong>   网址:http://www.gzsczh.com</p>
	
	
	<p align="center"> 友情连接:<strong><a href="http://guangzhou.lichenjy.com" target="_blank"><font color="white">广州会计培训</font></a></strong>   </p>
 </div>




</div>