 <div class="contbox-side1">
                <a href="javascript:void(0)" title="联系专家" class="acg-email" id="acgemail">联系专家</a>
                <p class="contbox-side1_call"><img src="{$smarty.config.root_path}images/400.jpg" alt="服务热线" width="160" height="36" /></p>
              </div>