

    
<div id="top">
  <div class="header clearfix">
    <h1 class="logo left"><a href="./" target="_self" title="acg"><img src="{$smarty.config.root_path}images/logo.jpg" alt="思创logo" /></a></h1>
    <div class="contact right">
      <img src="{$smarty.config.root_path}images/400.jpg" alt="服务热线" width="218" height="66" />
    </div>	
     <div class="contact_map">
   <strong>  主营业务:项目管理,电能质量,客服中心,信息化系统</strong>  <a  id="acgemai_for_top" href="about.php">联系我们</a>
     </div>
  </div>
</div>


<!-- nav -->
<div id="menu">
  <div class="nav">
    <ul class="marleft">
      <!--home-->
      <li is="menuindex"><a href="./" class="trad {if $smarty.server.PHP_SELF=='/index.php'} cur{/if}">首页</a></li>
      <!--about-->
      <li is="menuindex"> <a href="about.php" class="trad {if $smarty.server.PHP_SELF=='/about.php'} cur{/if}">关于思创</a>
       
      
       <!--advisory1-->
      <li is="menuindex"> <a href="business.php" class="trad {if $smarty.server.PHP_SELF=='/business.php'} cur{/if}">业务范围</a>
	  
	  <li is="menuindex"> <a href="case.php" class="trad {if $smarty.server.PHP_SELF=='/case.php'} cur{/if}">经典案例</a>
	   
	
	  
	  <li is="menuindex"> <a href="contactus.php" class="trad {if $smarty.server.PHP_SELF=='/contactus.php'} cur{/if}">联系我们</a> 
	  

      
      
      
    </ul>
  </div>
  <div class="menu-filter"></div>
</div>

