@charset "utf-8";
	#top {
	background:url(../images/uu/top-bg.jpg) repeat-x;
	height:90px;
	min-width:1000px;
	position:relative;
	width:auto !important;
	overflow:hidden
}
.header {
	width:1000px;
	margin:0 auto
}
.logo {
	width:210px;
	height:60px;
	margin:18px 0 16px 20px
}
.contact {
	margin:0 20px 0 0;
	font-weight:700
}
.contact img {
	vertical-align:top;
	width:218px;
	margin-top:15px;
	height:66px
}
.contact a {
	display:inline-block;
	width:75px;
	height:70px;
	background:url(../images/uu/lianxi.png);
	margin-top:13px;
	overflow:hidden;
	text-indent:-999em
}
.contact span {
	margin-left:14px
}
.contact em {
	font-size:20px
}
#menu {
	background:#0F3365;
	height:42px;
	min-width:1000px;
	width:auto !important;
	margin:0 auto;
	position:relative;
	z-index:10
}
#menu .nav {
	width:1000px;
	margin:0 auto;
	height:42px;
	position:relative;
	z-index:100
}
#menu .nav ul {
	float:left;
	_display:inline
}
#menu .nav .marleft {
	margin-left:40px
}
#menu li {
	float:left;
	display:block;
	overflow:visible;
	vertical-align:top
}
.nav a.trad {
	display:block;
	line-height:42px;
	text-decoration:none;
	font-size:17px;
	color:#FFF;
	font-family:"微软雅黑";
	text-align:center;
	width:136px;
	margin:0 -8px 0 -9px;
	position:relative;
	z-index:1007
}
.nav li a.hover,.nav li a.cur {
	background:url(../images/uu/spirit.png) no-repeat 0 -21px;
	line-height:42px
}
.menuitempanel,.menuitempanell {
	top:42px;
	position:absolute;
	z-index:1000;
	display:none;
	left:32px
}
.menuitempanepl {
	left:36px
}
.menuitempanehy,.menuitempanell,.menuitempaneal {
	left:166px
}
.menuright {
	right:0px;
	left:auto
}
.menucontentdiv {
	background:url(../images/uu/nav-conment-filter.png);
	padding:16px 20px 0 0;
	width:784px;
	height:250px
}
.menucontentdiv .clearfix {
	padding-bottom:10px;
	position:relative
}
.verticalLine {
	border-left:#9FA0A0 solid 1px;
	width:1px;
	left:200px;
	top:0px;
	float:left;
	_display:inline;
	height:204px;
	margin:13px 50px 0 32px;
	_margin:8px 34px 0 32px
}
#menu .menuitempanel li {
	float:none;
	top:0;
	line-height:24px
}
#menu .menuitempanel .taxonomy {
	width:137px
}
#menu .menuitempanel .taxonomyall {
	width:620px;
	padding:13px 0 0 80px
}
#menu .menuitempanel .taxonomy li {
	font-size:16px;
	margin:20px 0 0 41px;
	_margin:20px 0 0 25px;
	line-height:30px
}
#menu .menuitempanel .taxonomyall li {
	width:115px;
	height:30px;
	margin:10px 40px 10px 0;
	_display:inline;
	float:left;
	font-size:16px;
	line-height:30px
}
.menuitempanel .taxonomy a.topfrx:hover,.menuitempanel .taxonomyall a.topfrx:hover {
	font-weight:700
}
.menuitempanel ul.m_box {
	width:244px;
	margin-right:50px;
	_margin-right:19px
}
.menuitempanel ul.m_box_mrnone {
	margin-right:0
}
.menuitempanel ul.m_box li.imgtop {
	margin:21px 0 13px
}
#menu .menuitempanel ul.m_box li.summary {
	width:259px;
	font-weight:normal;
	height:50px;
	overflow:hidden
}
#menu .menuitempanel ul.m_box li.summary ul {
	width:244px;
	padding:0 0;
	float:none
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
	.menucontentdiv .clearfix {
	padding-bottom:15px
}
}@-moz-document url-prefix() {
	.menucontentdiv .clearfix {
	padding-bottom:15px
}
}@media all and (-webkit-min-device-pixel-ratio:10000),not all and (-webkit-min-device-pixel-ratio:0) {
	.menucontentdiv .clearfix {
	padding-bottom:15px
}
}:root .menucontentdiv .clearfix {
	padding-bottom:15px9
}
.menu-filter {
	background:url(../images/uu/menu-filter.png) repeat-x;
	width:100%;
	height:9px;
	position:absolute;
	top:42px
}
.videoList {
	min-width:1000px;
	height:365px;
	overflow:hidden;
	position:relative
}
.videoList ul {
	position:absolute;
	left:0
}
.videoList ul li {
	float:left
}
.videoList ul li img {
	position:relative
}
.ipad {
	width:1000px;
	height:190px;
	overflow:hidden;
	position:relative;
	margin:0 auto
}
.ipad ul {
	position:absolute;
	left:0
}
.ipad ul li {
	float:left
}
.ipad ul li img {
	max-width:100%
}
#btn {
	position:absolute;
	width:100%;
	text-align:center;
	bottom:15px;
	left:350px
}
#btn a.active,#btn a,#btn a:hover,#btn a:active {
	width:29px;
	height:11px;
	display:inline-block;
	background:url(../images/uu/spirit.png) no-repeat 0 -88px;
	margin-right:-7px;
	*margin-right:-4px
}
#btn a.active,#btn a:hover,#btn a:active {
	background-position:-41px -88px
}
#btn2 {
	position:absolute;
	width:100%;
	text-align:center;
	bottom:15px;
	left:350px
}
#btn2 a.active,#btn2 a,#btn2 a:hover,#btn2 a:active {
	width:29px;
	height:11px;
	display:inline-block;
	background:url(../images/uu/spirit.png) no-repeat 0 -88px;
	margin-right:-7px;
	*margin-right:-4px
}
#btn2 a.active,#btn2 a:hover,#btn2 a:active {
	background-position:-41px -88px
}
*html .ie6-out {
	margin-left:1000px;
	zoom:1
}
*html .ie6-in {
	position:relative;
	margin-left:-1000px;
	float:left
}
#acg-about,#acg-advisory1,#acg-advisory2,#acg-case,#acg-comment,#acg-join,#acg-content1 {
	background:url(../images/uu/acg-about.jpg) no-repeat center center;
	height:290px;
	min-width:1000px;
	position:relative;
	width:auto !important;
	overflow:hidden
}
#acg-advisory1 {
	background:url(../images/uu/acg-advisory1.jpg) no-repeat center center
}
#acg-advisory2 {
	background:url(../images/uu/acg-advisory2.jpg) no-repeat center center
}
#acg-case {
	background:url(../images/uu/acg-case.jpg) no-repeat center center
}
#acg-comment {
	background:url(../images/uu/acg-comment.jpg) no-repeat center center
}
#acg-join {
	background:url(../images/uu/acg-join.jpg) no-repeat center center
}
#acg-content1 {
	background:url(../images/uu/acg-content.jpg) no-repeat center center
}
.cont1,.cont2,.cont3 {
	height:26px;
	width:960px;
	margin:8px auto 0
}
.cont2,.cont3 {
	margin:8px auto 4px
}
.cont3 {
	width:1000px;
	overflow:hidden
}
.news {
	width:500px;
	height:26px;
	overflow:hidden;
	line-height:30px;
	font-size:14px
}
.news em {
	color:#0F3365;
	margin-right:5px
}
.bnav a {
	font-size:16px;
	margin:0 3px
}
.about {
	margin-left:163px
}
.search {
	width:189px;
	height:22px;
	margin-top:3px;
	background:url(../images/uu/spirit.png) no-repeat 0 -122px;
	overflow:hidden
}
.search-value {
	display:block;
	width:154px;
	padding-left:5px;
	height:22px;
	line-height:22px;
	font-size:12px;
	background:none;
	border:0 none
}
.search-btn {
	display:block;
	width:30px;
	hieght:22px;
	background:none;
	border:0 none;
	cursor:pointer
}
#line {
	min-width:1000px;
	overflow:hidden;
	position:relative
}
.w-line,.w-conment {
	margin:5px auto 0;
	width:1000px
}
.w-conment {
	width:1000px
}
.line-con {
	font-size:0;
	height:5px;
	width:990px;
	background:#0075C1;
	margin-left:10px
}
.line-con1,.line-about,.line-conment {
	font-size:0;
	height:5px;
	width:836px;
	background:#0075C1;
	margin-left:165px
}
.line-conment {
	margin:0
}
.line-about {
	width:812px;
	margin-left:188px
}
.line-right {
	font-size:0;
	height:5px;
	background:#0075C1;
	position:relative;
	top:-5px;
	left:790px
}
#pic-cont_con,#acg-content_con {
	min-width:1000px;
	width:auto !important;
	position:relative;
	overflow:hidden
}
#pic-cont {
	width:960px;
	margin:0 auto;
	overflow:hidden;
	position:relative
}
#pic-cont .pic-cont_info li {
	width:306px;
	height:140px;
	float:left;
	margin:0 21px 25px 0;
	_display:inline;
	position:relative;
	overflow:hidden
}
.piccontl {
	background:url(../images/uu/picfilter.png);
	position:absolute;
	z-index:2;
	width:306px;
	height:140px;
	overflow:hidden;
	left:0px
}
.piccontr {
	width:306px;
	height:140px
}
.piccontr img {
	vertical-align:top;
	width:306px;
	hieght:140px
}
.piccontlr {
	position:absolute;
	top:0;
	z-index:99;
	width:306px;
	height:140px;
	overflow:hidden;
	left:-315px
}
.txt {
	width:150px;
	height:107px;
	position:absolute;
	left:155px;
	top:12px;
	z-index:99
}
.txt {
	color:#FFF;
	overflow:hidden
}
.txt dt {
	font-weight:700;
	height:24px;
	line-height:24px
}
.txt dd a {
	display:block;
	color:#FFF;
	font-size:12px;
	height:80px
}
.piccont-tip {
	background:url(../images/uu/spirit.png) no-repeat 0 0;
	width:5px;
	height:9px;
	position:absolute;
	top:117px;
	left:287px;
	z-index:99
}
#acg-weibo {
	width:960px;
	margin:10px auto 0;
	overflow:hidden
}
.weibo {
	float:right;
	height:30px;
	line-height:30px
}
.weibo em {
	font-size:12px;
	margin-right:10px
}
.weibo a {
	display:inline-block;
	width:25px;
	height:30px;
	margin:0 2px;
	background:url(../images/uu/spirit.png) no-repeat 0 -177px;
	text-indent:-999em
}
.weibo .qqwb {
	background-position:-34px -177px
}
.weibo .acglx {
	background-position:-66px -177px
}
.weibo a:hover {
	background:url(../images/uu/spirit.png) no-repeat 0 -216px
}
.weibo .qqwb:hover {
	background-position:-34px -216px
}
.weibo .acglx:hover {
	background-position:-66px -216px
}
#acg-content {
	background:url(../images/uu/contbg.jpg) no-repeat center bottom;
	clear:both
}
.acg-content {
	width:960px;
	margin:15px auto 0
}
.padb140 {
	padding-bottom:140px
}
.content1 {
	border-top:1px solid #9FA0A0;
	width:960px;
	overflow:hidden
}
.content1 ul {
	width:1000px;
	margin-right:-40px;
	padding-top:26px;
	overflow:hidden
}
.content1 li {
	width:460px;
	float:left;
	margin-right:40px;
	_display:inline
}
.cont-title {
	margin-top:18px
}
.content1 li h3 {
	margin-bottom:12px
}
.content1 li h3 a {
	display:block;
	font-size:17px;
	font-weight:700;
	height:20px;
	line-height:20px;
	overflow:hidden;
	color:#0F3365;
	text-decoration:none
}
.content1 li p {
	font-size:14px;
	height:80px;
	line-height:24px;
	overflow:hidden
}
.mgt {
	margin-top:11px
}
.mgt5 {
	margin-top:5px
}
.pdb {
	padding-bottom:13px
}
.sidead {
	background:url(../images/uu/rightiside.jpg);
	width:329px;
	height:904px;
	position:relative;
	overflow:hidden;
	left:1131px;
	bottom:0
}
.mainbox,.mainbox-about {
	margin:0 auto;
	width:1000px
}
.mainbox-about {
	width:960px
}
.mainbox-about .mainconbox {
	width:792px
}
.menunav {
	width:130px;
	border-top:5px solid #0075C1;
	margin-top:-10px;
	position:relative
}
.menunav li {
	color:#010000;
	font-size:18px;
	text-align:center;
	border-bottom:1px solid #C6C9CC;
	height:26px;
	line-height:26px;
	margin-top:9px;
	padding-bottom:11px
}
.menunav li.current {
	border-bottom:2px solid #7695C5
}
.menunav li a {
	color:#0F3365
}
.menunav li.current a {
	color:#0F3365
}
.menuravline {
	border-right:1px solid #9FA0A0;
	font-size:0;
	margin:-10px 19px 0 18px;
	position:relative;
	height:500px
}
.contbox {
	width:832px
}
.conbox-nav li {
	width:175px;
	height:48px;
	float:left;
	_display:inline;
	font-size:16px;
	position:relative;
	text-align:center;
	line-height:48px;
	margin:-5px -20px 0 0;
	color:#0F3365
}
.conbox-nav li.current {
	background:url(../images/uu/spirit.png) no-repeat 0 -314px;
	color:#E8712E
}
.conbox-cont {
	padding-top:32px;
    font-size:16px;
	line-height:2em
	
}
.pdb40 {
	padding-top:40px
}
.pdt56 {
	padding-top:56px
}
.conbox-cont-main {
	width:632px
}
.conbox-cont-main-td {
	width:837px;
	padding-top:20px
}
.conbox-cont-main-td .acg-email {
	margin-top:-51px;
	position:relative
}
.conbox-cont-main-td .conbox-cont-main1 {
	border-right:0
}
.conbox-cont-main1 {
	width:630px;
	border-left:1px solid #9FA0A0;
	border-right:1px solid #9FA0A0;
	padding-left:19px;
	position:relative;
	margin-left:-20px
}
.conbox-cont-main1_scly {
	width:610px
}
.conbox-cont-main-td .conbox-cont-main1 {
	width:837px
}
.acg-conment .conbox-cont-main1 {
	width:804px;
	overflow:hidden;
	border-left:0;
	border-right:1px solid #9FA0A0;
	padding-left:0;
	position:relative;
	margin-left:0
}
.contbox-main1 {
	width:608px;
	border-bottom:1px solid #9FA0A0;
	padding-bottom:18px;
	margin-bottom:30px
}
.conbox-cont-main-td .contbox-main1 {
	width:614px
}
.conbox-cont-main-td .contbox-main3pic {
	width:179px;
	margin-right:21px
}
.conbox-cont-main-td .contbox-main4 {
	margin-right:210px
}
.contbox .mbb0 {
	margin:0
}
.acg-zjtd {
	height:150px;
	overflow:hidden
}
.contbox-side-td {
	width:183px;
	height:145px;
	border-left:1px solid #9FA0A0;
	padding-left:20px;
	overflow:hidden
}
.contbox-side-td h4 {
	color:#828282;
	font-weight:700
}
.contbox-side-td p {
	margin-top:10px
}
.contbox-side-td a {
	display:block;
	line-height:28px;
	height:28px;
	font-weight:700;
	overflow:hidden
}
.conbox-cont-main .pagination {
	margin:30px 40px 0 0;
	_display:inline
}
.conbox-cont-main .nobor {
	padding:0
}
.nobor {
	border:0
}
.contbox-main1 h3 {
	height:26px;
	line-height:26px;
	overflow:hidden;
	margin:4px auto 9px
}
.conboxh h3 {
	margin-bottom:30px
}
.conbox-cont-main1 .tit-main {
	font-size:14px;
	color:#595757;
	font-weight:700;
	line-height:18px
}
.contbox-main1 p {
	font-size:14px;
	width:608px;
	line-height:24px
}
.contbox-main2 li {
	width:304px;
	float:left;
	height:36px;
	line-height:36px;
	overflow:hidden
}
.contbox-main2 a {
	font-size:17px;
	color:#0F3365s
}
.contbox-main3pic {
	width:245px;
	height:146px;
	margin-right:28px;
	position:relative
}
.mpicfilter {
	background:url(../images/uu/mpicfilter.png);
	width:72px;
	height:146px;
	position:absolute;
	left:173px
}
.mpicfilter a {
	display:block;
	height:146px;
	width:72px;
	text-indent:-999em
}
.contbox-main3 dl {
	}.contbox-main3 dt {
	width:308px;
	height:23px;
	line-height:23px;
	overflow:hidden;
	margin-bottom:10px
}
.contbox-main3 dd {
	font-size:14px;
	line-height:24px;
	height:120px;
	overflow:hidden
}
.contbox-main3 .acg-zjtd dd {
	height:auto
}
.contbox-main3 .acg-zjtd dt {
	margin-bottom:3px
}
.contbox-main4 p {
	text-align:right;
	margin:54px 0 27px
}
.contbox-main4 a {
	margin-left:50px;
	font-size:14px;
	font-weight:700;
	color:#595757
}
.conbox-cont-side {
	width:180px;
	margin-left:20px
}
.contbox-side1 a,.lyny .acg-email {
	display:block;
	width:150px;
	height:26px;
	line-height:26px;
	text-align:center;
	padding-right:30px;
	background:url(../images/uu/spirit.png) no-repeat 0 -262px;
	font-weight:700
}
.contbox-side2 {
	margin-top:29px;
	border-top:1px solid #9FA0A0;
	padding-top:20px
}
.contbox-side2 h4 {
	color:#828282;
	margin-bottom:0px;
	font-weight:700
}
.contbox-side2 dl {
	margin-top:9px
}
.contbox-side2 img {
	vertical-align:top
}
.contbox-side2 dt {
	margin-bottom:7px
}
.contbox-side2 dd {
	font-size:12px;
	line-height:21px
}
.contbox-side2 dd a {
	font-size:14px;
	font-weight:700
}
.contbox-side2 .mgt {
	margin-top:31px
}
.contbox-side2 dd .fz12 {
	font-size:12px
}
.contbox-side2 ul {
	margin:10px 0
}
.contbox-side2 li {
	line-height:36px;
	height:36px;
	overflow:hidden
}
.contbox-side2 li a {
	font-size:14px;
	font-weight:700;
	line-height:36px;
	height:36px;
	display:block
}
.conbox-cont-about {
	padding-top:15px
}
.conbox-cont-about li {
	height:200px;
	overflow:hidden;
	margin-bottom:33px;
	padding-bottom:30px;
	border-bottom:1px solid #9FA0A0
}
.cont-txt {
	width:429px
}
.cont-txt h3 {
	height:18px;
	line-height:18px;
	overflow:hidden;
	margin-bottom:12px
}
.cont-txt h3 a,.contbox-main1 h3 a,.contbox-main3 dt a {
	font-size:16px;
	color:#3e3a39;
	font-weight:700
}
.contbox-main3 dt a,.contbox-main1 h3 a,.cont-txt h3 a:hover,.contbox-main1 h3 a:hover,.contbox-main3 dt a:hover,.contbox-main4 a:hover,.conbox-cont-main1 .tit-main:hover,.content-txt a:hover {
	color:#0F3365
}
.cont-txt p {
	line-height:24px;
	height:170px;
	overflow:hidden
}
.txt-pic {
	position:relative;
	width:320px
}
.txt-pic-bg {
	background:url(../images/uu/spirit.png) no-repeat 0 -385px;
	width:115px;
	height:228px;
	position:absolute;
	left:269px
}
.txt-pic-bg a {
	display:block;
	width:115px;
	height:228px;
	text-indent:-999em
}
.conbox-cont-about .nobormb {
	border:0;
	margin:0;
	padding-bottom:0
}
.conbox-td {
	margin-top:49px;
	margin-top:16px9;
	padding-bottom:10px
}
.conbox-td h4 {
	font-size:16px;
	color:#828282;
	font-weight:700
}
.conbox-td li {
	width:230px;
	margin:30px 50px 0 0;
	float:left;
	_display:inline;
	overflow:hidden
}
.conbox-td li div {
	margin-bottom:33px
}
.conbox-td li a {
	font-size:16px;
	font-weight:700
}
.conbox-td li em {
	display:block
}
.conbox-td li p {
	margin-top:15px;
	line-height:24px;
	height:140px;
	overflow:hidden
}
.mainbox-about .conbox-cont {
	border-left:1px solid #9FA0A0;
	position:relative;
	margin:0 0 276px -20px;
	padding-left:19px;
	height:100%
}
.acg-conment {
	padding-top:22px
}
.acg-conment .conbox-cont-main {
	width:805px;
	overflow:hidden
}
.acg-conment .contbox-main1 {
	width:770px
}
.acg-conment .conbox-cont-side {
	margin-left:15px
}
.conbox-anlist dd {
	height:auto;
	line-height:30px
}
.conbox-anlist dd a {
	font-size:16px;
	font-weight:700
}
.conbox-anlist .conbox-cont-main1 {
	border-right:0
}
.conbox-anlist .conbox-cont-side {
	margin:-17px 0 0
}
.conbox-anlist .contbox-side1 {
	margin-left:23px;
	border-bottom:1px solid #9FA0A0;
	padding-bottom:29px;
	width:180px
}
.contbox-side1_call,.jdalny .contbox-side1_call {
	width:180px;
	height:30px;
	margin:10px 0 0;
	padding-left:0
}
.contbox-side1_call img,.jdalny .contbox-side1_call img {
	vertical-align:top
}
.conbox-anlist .contbox-side2 {
	border:0;
	margin:0;
	padding-bottom:18px
}
.conbox-anlist .contbox-side2 h4 {
	margin-left:23px
}
.conbox-anlist .contbox-side2 ul {
	border-left:1px solid #9FA0A0;
	padding-left:22px
}
.conbox-anlist .contbox-side2 li {
	height:25px;
	line-height:25px
}
.conbox-anlist .contbox-side2 li a {
	height:25px;
	line-height:25px;
	overflow:hidden
}
.contbox-main1-td {
	width:auto;
	padding-bottom:68px
}
.contbox-main1-td h3 a {
	color:#595757;
	font-size:14px
}
.contbox-main1-zc h3 a,.contbox-main1-zc h3,.contbox-side2-lx h4,.contbox-main1-td-ny h3 {
	color:#828282;
	font-size:16px;
	font-weight:700
}
.contbox-main1-td-ny h3 a {
	}.contbox-main1-td dt {
	float:left;
	margin-right:45px;
	_display:inline
}
.contbox-main1-td dd {
	height:102px;
	line-height:24px;
	overflow:hidden
}
.contbox-main1-zc ul {
	margin-top:10px
}
.contbox-main1-zc li {
	width:112px;
	height:35px;
	float:left;
	_display:inline;
	margin-right:30px
}
.contbox-main1-zc li a {
	display:block;
	background:#B3B3B3;
	color:#FFF;
	font-size:16px;
	line-height:35px;
	text-align:center
}
.contbox-main1-zc li a:hover {
	background:#86C4ED;
	color:#fff
}
.borrno {
	border-right:0 none
}
.contbox-main1-zc .contbox-main1-zc {
	margin-top:42px
}
.contbox-main1-zc .contbox-main1-zc h3 {
	margin-bottom:10px
}
.contbox-side2-lx h4 {
	font-size:14px;
	margin:27px auto 5px
}
.contbox-side2-lx em {
	line-height:24px;
	font-weight:700
}
.borbline {
	border-bottom:1px solid #9FA0A0;
	margin-bottom:64px;
	padding-top:30px
}
.conbox-zjny h4 {
	color:#595757;
	font-size:14px
}
.conbox-zjny .list-cont {
	width:837px;
	height:275px;
	overflow:hidden
}
.scrcont {
	width:10000px
}
.leftbotton,.rightbotton {
	position:absolute;
	width:26px;
	height:26px;
	left:705px;
	top:60px
}
.rightbotton {
	left:735px;
	top:60px
}
.leftbotton a,.rightbotton a {
	display:block;
	width:26px;
	height:26px;
	text-indent:-999em;
	background:url(../images/uu/buttonBG.png) no-repeat 0 0;
	outline:none
}
.rightbotton a {
	background-position:-25px -55px
}
.leftbotton a:hover {
	background-position:0 -110px
}
.rightbotton a:hover {
	background-position:-25px -165px
}
.conbox-zjny p a,.conbox-zjny p {
	font-size:12px;
	font-weight:normal;
	height:40px;
	color:#828282
}
.conbox-td-cont {
	position:relative
}
.conbox-td-cont .leftbotton {
	left:680px;
	top:10px
}
.conbox-td-cont .rightbotton {
	left:710px;
	top:10px
}
.conbox-td-cont .list-cont {
	width:792px;
	height:305px;
	overflow:hidden
}
.conbox-zjny ul {
	width:auto;
	margin-right:0
}
.conbox-zjny ul li {
	width:269px;
	margin-right:10px
}
.contbox-main1-td-ny {
	padding-bottom:35px
}
.contbox-main1-td-ny h3 {
	margin-bottom:27px
}
.contbox-main1-td-ny dl {
	height:130px;
	overflow:hidden
}
.contbox-main1-td-ny dd {
	height:auto;
	line-height:30px
}
.contbox-main1-td-ny dd a {
	font-size:16px;
	font-weight:700
}
.contbox-main1-td-ny .tdtxt {
	line-height:24px
}
.tdtxtzz p,.conbox-cont-main-lynyul li p,.anliny-kh-txt p,.anliny-kh-txt2 p {
	padding-left:25px
}
.conbox-cont-main-lynyul li .blue-point,.anliny-kh-txt .blue-point,.anliny-kh-txt2 .blue-point {
	background:url(../images/uu/blue-point.gif) no-repeat 5px 9px
}
.conbox-cont-main-lynyul li .orange-point,.anliny-kh-txt .orange-point,.anliny-kh-txt2 .orange-point {
	background:url(../images/uu/orange-point.gif) no-repeat 5px 9px
}
.tdtxtzzpd {
	padding-bottom:80px
}
.conbox-main-td {
	width:837px;
	border-left:1px solid #9FA0A0;
	margin:0 0 0 -20px;
	padding-left:19px;
	position:relative
}
.conbox-main-td h4 {
	border-top:1px solid #9FA0A0;
	padding-top:50px;
	color:#828282
}
.conbox-main-td li p {
	height:40px;
	line-height:21px
}
.lyny {
	border-bottom:1px solid #9FA0A0;
	padding-bottom:40px
}
.lyny h3 {
	font-size:18px;
	font-weight:700;
	color:#828282;
	margin-bottom:20px
}
.lyny dl {
	height:auto;
	overflow:inherit
}
.lyny dt {
	float:right;
	margin-left:40px;
	_display:inline
}
.lyny .tdtxt {
	height:237px;
	overflow:hidden
}
.lyny .acg-email {
	margin-top:40px
}
.conbox-cont-main-lyny {
	padding-top:30px;
	width:610px
}
.conbox-cont-main-lynyul .nomar {
	margin:0
}
.conbox-cont-main-lynyul li {
	padding-bottom:30px;
	margin-bottom:40px;
	border-bottom:1px solid #9FA0A0
}
.conbox-cont-main-lynyul li img {
	float:left;
	margin-right:20px;
	_display:inline
}
.lynytit {
	width:366px
}
.lynytit p {
	line-height:24px
}
.lynytit h5 {
	font-size:16px;
	font-weight:700;
	color:#828282;
	margin-bottom:20px
}
.conbox-cont-main-scly {
	padding-top:40px
}
.conbox-cont-main-scly h4 {
	font-weight:700;
	color:#595757;
	margin-bottom:15px
}
.conbox-cont-main-scly li {
	float:left;
	_display:inline;
	width:150px;
	height:36px;
	line-height:36px;
	overflow:hidden;
	margin-right:125px
}
.conbox-cont-main-scly li a {
	height:36px;
	line-height:36px;
	overflow:hidden;
	font-weight:700
}
.sclyh {
	margin-bottom:207px
}
.widthconbox {
	width:610px;
	padding-right:21px
}
.widside {
	width:180px;
	border-left:1px solid #9FA0A0;
	margin:23px 0 0;
	padding-left:20px
}
.widside .contbox-side2 {
	border-top:0 none;
	margin-top:0;
	padding-top:0
}
.widside h4 {
	margin-bottom:15px
}
.widside .lynysk {
	margin:35px 0 -12px
}
.mainbox-content {
	width:1000px;
	margin:0 auto;
	padding-bottom:114px
}
.line-content {
	margin-left:0
}
.cont4 {
	width:1000px
}
.contentmainbox {
	width:753px;
	padding-right:45px
}
.content-tit {
	font-size:30px;
	font-weight:700;
	margin:45px 0 35px;
	line-height:40px
}
.contentbody p {
	line-height:24px;
	margin:15px 0
}
.contentbodypic {
	float:right;
	margin:0 35px 35px 0;
	width:280px;
	height:160px;
	vertical-align:top
}
.content-mtxt {
	margin-top:58px
}
.content-mtxt a {
	color:#595757;
	font-weight:700
}
.contentsidebox {
	width:178px;
	border-left:1px solid #9FA0A0;
	padding-left:23px;
	margin-top:80px
}
.contentsidebox .martb {
	margin:31px 0 0
}
.content-stxt {
	margin-bottom:32px
}
.content-stxt a {
	display:block;
	width:178px;
	height:35px;
	text-align:center;
	line-height:35px;
	background:#B3B3B3;
	color:#FFF
}
.content-stxt a:hover {
	background:#0074C4;
	color:#FFF
}
.content-author h4 {
	margin-bottom:13px;
	color:#828282;
	font-weight:700
}
.content-author img {
	vertical-align:top;
	margin-bottom:10px
}
.content-author dd {
	line-height:21px;
	font-size:12px
}
.content-author .author {
	font-size:14px;
	font-weight:700
}
.content-author-more {
	margin-top:48px
}
.content-author-more dl {
	margin-bottom:20px
}
.conbox-cont-main-gn {
	margin-top:15px
}
.conbox-cont-main-gn .contbox-main1 {
	width:790px
}
.conbox-cont-main-gn .nobor {
	padding:0;
	margin-bottom:0
}
.conbox-cont-gn {
	padding-top:19px
}
.jobtit {
	font-size:18px;
	font-weight:700;
	margin:5px 0 20px;
	color:#828282
}
.jobtxt .jobpic {
	float:right;
	width:355px;
	height:237px;
	margin-left:40px;
	_display:inline
}
.jobtxt p {
	margin-bottom:20px
}
.conbox-cont-job {
	width:auto
}
.conbox-cont-main-job {
	width:832px;
	overflow:hidden;
	margin-bottom:220px
}
.jobzp {
	padding:50px 0 20px
}
.jobzp a {
	display:block;
	background:url(../images/uu/zhaopin.png) no-repeat -245px 0;
	float:left;
	_display:inline;
	width:245px;
	height:110px;
	margin-left:80px;
	text-indent:-999em
}
.jobzp a:hover {
	background-position:-245px -110px
}
.jobzp .jobxz {
	background-position:0 0;
	margin-right:20px
}
.jobzp .jobxz:hover {
	background-position:0 -110px
}
.conbox-nav-job li,.conbox-nav li {
	font-weight:700
}
.jdalny h3 {
	float:left;
	width:400px;
	color:#828282;
	font-size:16px;
	font-weight:700
}
.jdalny .acg-email {
	margin-top:0
}
.jdalny p {
	height:60px;
	line-height:60px;
	background:#4C79B3;
	font-size:24px;
	color:#FFF;
	overflow:hidden;
	padding-left:18px;
	margin:12px 0 18px
}
.jdalny li {
	margin-bottom:6px;
	overflow:hidden;
	*zoom:1
}
.jdalny li em,.jdalny li span {
	display:block;
	float:left;
	_display:inline;
	width:152px;
	height:50px;
	line-height:50px;
	text-align:center;
	background:#003880;
	font-size:16px;
	font-weight:700;
	color:#FFF
}
.jdalny li span {
	width:167px;
	background:#8FB0DA;
	margin-left:3px;
	font-size:18px;
	font-weight:normal
}
.conbox-cont-main-anliny {
	width:832px;
	padding:30px 0 0 19px;
	margin-left:-20px;
	position:relative;
	border-left:1px solid #9FA0A0
}
.anliny-kh-pic img {
	width:244px;
	height:146px;
	vertical-align:top;
	margin-right:25px
}
.anliny-kh {
	border-bottom:1px solid #9FA0A0;
	padding-bottom:20px;
	*padding-bottom:0px;
	margin-bottom:35px
}
.anliny-kh .anliny-kh-txt {
	width:561px;
	height:150px;
	overflow:hidden
}
.khzxxq {
	color:#828282;
	font-size:16px;
	font-weight:700;
	margin-bottom:20px
}
.anliny-kh-txt p {
	line-height:24px;
	overflow:hidden
}
.anliny-xq .anliny-kh-pic {
	width:160px;
	background:#003880;
	color:#FFF;
	font-size:16px;
	text-align:center;
	line-height:120px;
	padding:0 10px
}
.anliny-xq .anliny-kh-morepic {
	line-height:normal;
	padding-top:20px
}
.anliny-xq .anliny-kh-morepic em {
	display:block;
	height:29px;
	line-height:29px;
	overflow:hidden
}
.anliny-xq .anliny-kh-txt {
	width:632px
}
.conbox-cont-anlizx .anliny-kh-txt {
	width:632px
}
.anliny-xq li {
	float:left;
	margin-bottom:14px;
	background:#003880
}
.anliny-xq .anliny-kh-txt p {
	line-height:24px;
	overflow:hidden;
	height:120px
}
.conbox-cont-anlizx {
	border-top:1px solid #9FA0A0;
	margin-top:26px;
	*margin-top:40px;
	padding-top:30px
}
.conbox-cont-anlizx .anliny-kh-pic,.conbox-cont-anlizx .anliny-kh-pic1,.conbox-cont-anlizx .anliny-kh-pic2 {
	width:180px;
	height:180px;
	background:#003880;
	padding-top:120px;
	text-align:center;
	font-size:16px;
	font-weight:700;
	color:#FFF;
	text-align:center;
	margin-right:20px
}
.conbox-cont-anlizx .anliny-kh-txt p {
	line-height:24px;
	overflow:hidden;
	height:92px;
	margin-bottom:10px
}
.conbox-cont-anlizx .anliny-kh-pic1 {
	height:385px;
	background:#5493BB;
	padding-top:150px;
	margin-right:20px
}
.conbox-cont-anlizx .martb {
	margin-top:24px
}
.conbox-cont-anlizx .anliny-kh-txt1 {
	width:620px;
	margin-right:10px
}
.conbox-cont-anlizx .anliny-kh-txt1 img {
	width:620px;
	height:450px;
	margin-bottom:10px;
	vertical-align:top
}
.conbox-cont-anlizx .anliny-kh-txt1 p {
	line-height:24px;
	margin-top:20px
}
.conbox-cont-anlizx .anliny-kh-pic2 {
	width:180px;
	height:70px;
	background:#5493BB;
	padding-top:50px
}
.conbox-cont-anlizx .anliny-kh-txt2 p {
	width:587px
}
.conbox-cont-anlizx .anliny-xqjg {
	border-top:1px solid #9FA0A0;
	margin-top:40px;
	padding-top:30px
}
.conbox-cont-anlizx .anliny-xqjg h4 {
	margin-bottom:15px
}
.anliny-lxzj {
	margin:75px 0 119px
}
.anliny-lxzj a {
	font-weight:700
}
.padbm {
	padding-bottom:200px
}
.anliny-xq .anliny-kh-txt_tt {
	min-height:110px;
	height:100%;
	_height:110px;
	padding-left:20px;
	background:#F3F3F3
}
.anliny-xq .anliny-kh-txt_tt p {
	height:auto
}
.conbox-cont-anlizx .conbox-cont-anlizx_list li .conbox-cont-anlizx_list li {
	width:832px;
	float:left;
	_display:inline
}
.conbox-cont-anlizx .anliny-kh-txt {
	height:300px;
	line-height:27px;
	overflow:hidden
}
.conbox-cont-anlizx .anliny-kh-txt1 {
	height:535px;
	overflow:hidden
}
.conbox-cont-anlizx .anliny-kh-txt2 {
	height:120px;
	overflow:hidden
}
.pagination {
	float:right;
	margin-top:65px
}
.pagination li {
	float:left;
	_display:inline;
	margin-right:-1px
}
.pagination li a,.pagination li.selected,.pagination .prev,.pagination .next {
	display:block;
	width:49px;
	height:32px;
	background:url(../images/uu/pagination.png) no-repeat 0 -68px;
	color:#0f3365;
	text-align:center;
	line-height:32px
}
.pagination li a:hover,.pagination li a:focus,.pagination li.selected {
	background-position:0 -100px;
	color:#FFF
}
.pagination .prev,.pagination .next {
	width:59px;
	background-position:0 0
}
.pagination .prev:hover,.pagination .prev:focus,.pagination .next:hover,.pagination .next:focus {
	background-position:0 -32px
}
#footer {
	background:url(../images/uu/footerbg.jpg) repeat-x;
	height:225px;
	min-width:1000px;
	overflow:hidden;
	position:relative;
	width:auto!important
}
.foot-info,.foot-map {
	width:1000px;
	margin:0 auto;
	overflow:hidden
}
.foot-map_cont {
	width:1130px;
	margin-right:-130px;
	overflow:hidden
}
.foot-map dl {
	width:58px;
	text-align:center;
	margin-top:16px;
	margin-right:130px;
	float:left;
	_display:inline
}
.foot-map dt {
	font-weight:700;
	color:#efefef;
	height:20px;
	line-height:20px;
	margin-bottom:12px;
	overflow:hidden
}
.foot-map dd {
	height:20px;
	line-height:20px;
	overflow:hidden;
	margin-bottom:3px
}
.foot-map a,.footer-info a,.foot-info p {
	color:#9fa0a0;
	font-size:12px
}
.foot-map a:visited,.footer-info a:visited {
	color:#B0B0B0
}
.foot-map a:hover,.footer-info a:hover {
	color:#efefef;
	font-weight:700
}
.foot-info {
	margin-top:26px
}
.footer-info a {
	margin-right:12px
}
.footer-info {
	width:184px
}
*html {
	background-image:url(about:blank);
	background-attachment:fixed
}
#tbox {
	width:60px;
	height:60px;
	float:right;
	position:fixed;
	_position:absolute;
	_bottom:auto;
	_top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,10)||0)-(parseInt(this.currentStyle.marginBottom,10)||0)));
	_margin-bottom:10px
}
#gotop,#gotop:hover {
	width:60px;
	height:60px;
	background:url(../images/uu/spirit.png) no-repeat 0 -631px;
	position:absolute;
	top:0px;
	display:none;
	cursor:pointer
}
#gotop:hover {
	background-position:-70px -631px
}
.popupLayer {
	overflow:hidden
}
.relationbg {
	filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#CC000000',endColorstr='#CC000000');
	zoom:1
}
:root .relationbg {
	filter:none;
	background-color:rgba(0,0,0,0.8)
}
.relation {
	width:806px;
	margin:0 auto;
	padding-top:100px;
	overflow:hidden
}
.relationtop {
	height:60px;
	background:#003880
}
.relationtit {
	line-height:60px;
	font-size:18px;
	color:#FFF;
	padding-left:30px;
	width:200px
}
.relationclose {
	display:block;
	width:28px;
	height:28px;
	background:url(../images/uu/spirit.png) no-repeat 0 -701px;
	margin:17px 27px 0 0;
	text-indent:-999em;
	_display:inline
}
.relationcont {
	background:#FFF;
	padding:33px 30px
}
.relationcon {
	margin-bottom:40px
}
.relationcon p {
	line-height:24px
}
.relationcon-td {
	margin-top:39px
}
.relationcon-td ul {
	width:780px;
	margin-right:-34px;
	overflow:hidden
}
.relationcon-td li {
	width:225px;
	margin:18px 35px 0 0
}
.relationcon-td li div {
	margin-bottom:15px
}
.relationcon-td li a {
	font-size:14px;
	font-weight:normal
}
.relationcon-td li p {
	height:auto;
	line-height:24px;
	margin-top:5px
}
.relationneed h4 {
	font-size:16px;
	font-weight:700;
	color:#828282
}
.relationneedform {
	width:412px;
	margin:10px auto 0
}
.relationneedform label {
	font-size:16px
}
.relationneedform input {
	width:281px;
	height:28px;
	line-height:30px;
	padding-left:5px;
	border:1px solid #616161
}
.relationneedform div {
	margin-bottom:20px
}
.msg {
	width:100px;
	float:left;
	font-size:16px;
	_display:inline
}
.relationneedform .acg-submit {
	width:244px;
	height:30px;
	background:url(../images/uu/spirit.png) no-repeat 0 -746px;
	margin-top:10px
}
.acg-submit .submit,.acg-submit .acgclear {
	display:block;
	width:116px;
	height:30px;
	color:#FFF;
	line-height:30px;
	text-align:center
}
.acg-submit .acgclear {
	color:#3e3a39;
	margin-left:10px
}
.acg-submit .submit:hover {
	color:#FFF
}
.acg-submit .acgclear:hover {
	color:#3e3a39
}
.table_form {
	font-size:14px
}
.relationneedform th {
	font-size:16px;
	text-align:right
}
.relationneedform th,.relationneedform td {
	padding:10px 0 10px 2px
}
.ipt-txt {
	width:281px;
	padding:5px;
	height:204px;
	border:1px solid #616161;
	float:left;
	_display:inline;
	overflow:visible
}
.relationneedform .submit,.relationneedform .acgclear {
	border:0 none;
	background:0;
	cursor:pointer
}
#menu {
	z-index:1000
}
.menuitempanehy,.menuitempanell,.menuitempaneal {
	left:430px
}
.menucontentdiv_hybg {
	background:url(../images/uu/ccdd.png);
	padding:20px 10px;
	width:425px;
	height:585px;
	overflow:hidden
}
#menu .menuitempanel .taxonomyall_szt li {
	margin-bottom:16px;
	float:left;
	line-height:14px;
	height:14px;
	overflow:hidden
}
#menu .menuitempanel .taxonomyall_szt li .litit {
	height:26px;
	width:100px;
	float:left;
	_display:inline;
	margin-right:10px
}
#menu .menuitempanel .taxonomyall_szt li .litit a {
	display:block;
	height:26px;
	width:100px;
	text-align:right;
	color:#00a4e3;
	font-weight:700
}
#menu .menuitempanel .taxonomyall_szt li .litxt {
	float:left;
	width:310px
}
#menu .menuitempanel .taxonomyall_szt li .litxt a {
	float:left;
	_display:inline;
	padding:0 8px;
	border-left:1px solid #a9a9a9
}
.menucontentdiv_gnbg {
	background:url(../images/uu/gnbg.png);
	padding:20px 10px;
	width:425px;
	height:398px;
	overflow:hidden
}
.menuitempanel_gnbg {
	left:297px
}
.menucontentdiv_albg {
	background:url(../images/uu/albg.png);
	padding:20px 10px;
	width:648px;
	height:254px;
	overflow:hidden
}
.menuitempanel_albg {
	left:563px
}
#menu .menuitempanel .taxonomy_szt li {
	height:auto
}
#menu .menuitempanel .taxonomy_szt li .litit {
	height:auto;
	oveflow:hidden
}
#menu .menuitempanel .taxonomy_szt li .litxt {
	width:494px
}
#menu .menuitempanel .taxonomy_szt li .litxt a {
	margin-bottom:15px
}
#pic-cont .pic-cont_info {
	width:981px;
	height:330px;
	margin:20px -21px -25px 0;
	overflow:hidden;
	position:relative
}
